body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.lang-btn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.lang-btn img {
    width: 30px; /* Ajuste o tamanho das bandeiras conforme necessário */
    height: auto;
    border-radius: 4px;
}

.lang-btn:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

#language-switcher {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #00aaff;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#language-switcher:hover {
    background-color: #f0f8ff;
    border-color: #0088cc;
}


.container {
    border: 3px solid rgb(0, 0, 0); 
    padding: 20px;
    max-width: 1200px;
    margin: 12px auto;
    background: linear-gradient(135deg, #b4ac96, #c5acac); 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


header {
    
    color: white;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.perfil {
    display: flex;
    align-items: center;
}

.foto-perfil {
    border-radius: 50%;
    width: 240px; 
    height: 240px; 
    margin-right: 20px;
}

.contato {
    display: flexbox;
    align-items: center;
}

.contato a {
    margin: 0 10px;
}

nav {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background: #fff;
}

.projeto {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #e2e2e2;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    background: #e2e2e2;
    padding: 0.5rem;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}
